@model IEnumerable<MultasAdmin.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tablilla</th>
            <th>Marca</th>
            <th>Marca Otra</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Registro</th>
            <th>Licencia</th>
            <th>Serie Motor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Tablilla</td>
                    <td>@item.Marca</td>
                    <td>@item.MarcaOtra</td>
                    <td>@item.Modelo</td>
                    <td>@item.Color</td>
                    <td>@item.Registro</td>
                    <td>@item.Licencia</td>
                    <td>@item.SerieMotor</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>